@font-face {
	font-family: 'Sora-Regular';
	src: url('../assets/fonts/Sora-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Sora-SemiBold';
	src: url('../assets/fonts/Sora-SemiBold.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Sora-Bold';
	src: url('../assets/fonts/Sora-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Sora-ExtraBold';
	src: url('../assets/fonts/Sora-ExtraBold.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

.heading-h5 {
	font-family: 'Sora-Regular', sans-serif;
	font-size: 1.25rem;
	line-height: 1.5rem;
	letter-spacing: -0.02rem;
}

.button-text2,
.paragraph-p2 {
	font-family: 'Sora-Regular', sans-serif;
	font-size: 1rem;
	line-height: 1.25rem;
	letter-spacing: 0.02rem;
}

.display-text {
	font-family: 'Sora-Regular', sans-serif;
	font-size: 3rem;
	line-height: 3.5rem;
	letter-spacing: -0.02rem;
}

.display-text-ExtraBold {
	font-family: 'Sora-ExtraBold', sans-serif;
	font-size: 3rem;
	line-height: 3.5rem;
	letter-spacing: -0.02rem;
}

.outlined-text {
	font-family: 'Sora-ExtraBold', serif;
	font-size: 3rem;
	line-height: 3.5rem;
	letter-spacing: -0.02%;

	color: white;
	text-shadow:
		3px 3px 0 black,
		-3px -3px 0 black,
		3px -3px 0 black,
		-3px 3px 0 black;
}
