@font-face {
	font-family: 'Sora-Regular';
	src: url('../assets/fonts/Sora-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Sora-SemiBold';
	src: url('../assets/fonts/Sora-SemiBold.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Sora-Bold';
	src: url('../assets/fonts/Sora-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Sora-ExtraBold';
	src: url('../assets/fonts/Sora-ExtraBold.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

