html {
	font-family: 'Sora-Regular', sans-serif;
	font-size: 16px;
}

a,
a:visited {
	color: black;
	text-decoration: none;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.heading-h5 {
	font-family: 'Sora-Regular', sans-serif;
	font-size: 1.25rem;
	line-height: 1.5rem;
	letter-spacing: -0.02rem;
}

.button-text2{
	font-family: 'Sora-Regular', sans-serif;
	font-size: 1rem;
	line-height: 1.25rem;
	letter-spacing: 0.02rem;
}