:root {
	--color-black: #000000;
	--color-neutral: #404040;
	--color-white: #ffffff;
	--color-100: #f4f4f5;
	--color-200: #e4e4e7;
	--color-300: #d4d4d8;
	--color-500: #71717a;
	--color-800: #27272a;
	--color-error: #ef4444;


}
