.header {
	width: 100vw;
	height: 104px;

	display: flex;
	justify-content: center;
	align-items: center;

	position: fixed;
	z-index: 1000;

	background-color: var(--color-white);

	.header__itemsContainer {
		width: 89%;
		height: 52%;

		display: flex;
		justify-content: space-around;
		align-items: center;
		gap: 30px;

		.header__logoContainer {
			display: flex;
			align-items: center;
			gap: 0.75rem;

			.header__logoImage {
				width: 40px;
			}
			.header__logoText {
				font-weight: 700;
			}
		}

		.header__nav {
			max-width: 437px;

			flex-grow: 1;

			ul {
				display: flex;
				justify-content: space-between;

				font-weight: 600;

				.header__navLink:hover {
					color: var(--color-neutral);
				}
			}
		}

		.header__resumeButton {
			height: 56px;
			padding: 16px 20px;

			display: flex;
			align-items: center;

			gap: 8px;

			border: 0;
			border-radius: 4px;
			background-color: var(--color-black);

			transition: 0.2s ease-in;

			&:hover {
				background-color: var(--color-neutral);
			}

			&:active {
				border: 1px solid var(--color-black);
				background-color: var(--color-white);

				.resumeButton__text {
					color: var(--color-black);
				}

				.resumeButton__image {
					stroke: var(--color-black);
				}
			}

			.resumeButton__text {
				font-weight: 600;
				color: var(--color-white);
			}

			.resumeButton__image {
				width: 20px;
				stroke: white;
				fill: none;

				flex-shrink: 0;
			}
		}

		.header__burgerMenuIcon {
			width: 36px;

			display: none;
			cursor: pointer;
		}
	}

	.header__burgerMenu {
		width: 100vw;
		height: 100vh;
		padding: 30px 0;

		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;

		background-color: white;
		transition: all 0.3s ease-in-out;

		position: absolute;
		top: 0;
		right: 0;
		opacity: 0;
		z-index: 999;

		visibility: hidden;
		transform: translateX(100%);
	}

	.is-active {
		opacity: 1;
		visibility: visible;
		transform: translateX(0);
	}
}

@media (max-width: 1400px) {
	.header {
		height: 70px;
		padding: 0 20px;

		.header__itemsContainer {
			.header__nav {
				.heading-h5 {
					font-size: 1rem;
				}
			}
			.header__resumeButton {
				height: 40px;
				.button-text2 {
					font-size: 0.75rem;
				}
				.resumeButton__image {
					width: 16px;
				}
			}
		}

		.header__burgerMenu {
			height: calc(100vh - 70px);
			top: 70px;
		}
	}
}

@media (max-width: 800px) {
	.header {
		height: 70px;
		padding: 0 20px;

		.header__itemsContainer {
			width: 100%;

			justify-content: space-between;

			.header__resumeButton,
			.header__nav {
				display: none;
			}
			.header__burgerMenuIcon {
				display: block;
			}
		}
		.header__burgerMenu {
			height: calc(100vh - 70px);
			top: 70px;
		}
	}
}
