.main {
	width: 100%;

	padding: 104px 0;

	background-color: var(--color-white);

	.main__generalInformationContainer {
		padding: 60px 112px;

		.generalInformationContainer__content {
			display: flex;
			align-items: center;

			.generalInformationContainer__contentText {
				width: 41.66%;

				font-size: 16px;

				flex: 1;

				.contentText__headerText {
					margin-bottom: 32px;

					.headerText__text {
						margin-bottom: 20px;
					}
				}

				.contentText__mainText {
					line-height: 26px;
					color: var(--color-500);
				}
			}

			.content__boyBanner {
				display: flex;
				justify-content: center;
				align-items: center;
				flex: 1;
			}
		}
	}

	.main__skillsContainer {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		padding: 60px 112px;
		.skillsContainerTitle {
			display: flex;
			justify-content: center;

			padding: 20px 0;

			margin-bottom: 20px;
		}
		.skillsContainer__skills {
			max-width: 1216px;
			width: 100%;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			gap: 20px;

			padding: 40px 0;

			.skills__item {
				width: 186px;
				aspect-ratio: 1/1;

				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 32px;

				background-color: var(--color-white);

				border: 2px solid;
				border-radius: 4px;

				transition: 0.3s ease;

				svg {
					width: 56px;
				}

				&:hover,
				&:focus {
					filter: invert(1);
				}
			}
		}
	}

	.main__experienceContainer {
		width: 100%;
		padding: 60px 112px;

		display: flex;
		flex-direction: column;

		align-items: center;

		color: white;
		background-color: var(--color-black);

		.experienceContainerTitle {
			display: flex;
			justify-content: center;

			padding: 20px 0;

			margin-bottom: 20px;
		}
		.experienceContainer__experience {
			padding: 40px 24px;

			display: flex;
			flex-direction: column;
			gap: 32px;

			.experience__item {
				max-width: 1168px;
				width: 100%;
				padding: 30px 24px;

				border: 1px var(--color-500) solid;
				border-radius: 10px;
				.experienceItem__header {
					margin-bottom: 28px;

					display: flex;
					justify-content: space-between;
					flex-wrap: wrap;
					gap: 30px;
					.experienceItemHeader__logoTitle {
						display: flex;
						align-items: center;
						gap: 30px;
						img {
							width: 32px;
						}
					}
				}
				.experienceItemHeader__workTime,
				.experienceItem__mainInformation {
					color: var(--color-300);
				}
			}
		}
	}
}

@media (max-width: 1400px) {
	.main {
		padding: 70px 0;

		.main__generalInformationContainer {
			padding: 40px 16px;

			.generalInformationContainer__contentText {
				.contentText__headerText {
					.headerText__text {
						margin-bottom: 10px;

						font-size: 1.5rem;
						line-height: 1.75rem;
						.display-text-ExtraBold {
							font-size: 2rem;
							line-height: 2rem;
						}
						.outlined-text {
							font-size: 2rem;
							line-height: 2rem;
						}
					}
				}
			}
		}
		.main__skillsContainer,
		.main__experienceContainer {
			padding: 40px 16px;
		}
		.main__experienceContainer {
			.experienceContainer__experience {
				padding: 0;
			}
		}
	}
}

@media (max-width: 1000px) {
	.main {
		.main__generalInformationContainer {
			.generalInformationContainer__content {
				.generalInformationContainer__contentText {
					.contentText__headerText {
						margin-bottom: 10px;

						.headerText__text {
							margin-bottom: 16px;

							font-size: 18px;
							line-height: 1.5rem;
							.display-text-ExtraBold {
								font-size: 1.5rem;
								line-height: 1.5rem;
							}
							.outlined-text {
								font-size: 1.5rem;
								line-height: 1.5rem;
							}
						}
					}
					.paragraph-p2 {
						line-height: 1.25rem;
						font-size: 0.75rem;
					}
				}
			}
		}

		.main__skillsContainer {
			.skillsContainer__skills {
				padding: 0;
				.skills__item {
					width: 160px;
				}
			}
		}
		.main__experienceContainer {
			.experienceContainer__experience {
			}
		}
	}
}

@media (max-width: 800px) {
	.main {
		.main__generalInformationContainer {
			.generalInformationContainer__content {
				flex-direction: column-reverse;
				align-items: center;

				margin: 0;
				.generalInformationContainer__contentText {
					width: 100%;

					.contentText__headerText {
						.headerText__text {
							margin-bottom: 20px;

							font-size: 48px;
							line-height: 3rem;
							.display-text-ExtraBold {
								font-size: 3rem;
								line-height: 2.5rem;
							}
							.outlined-text {
								font-size: 3rem;
								line-height: 2.5rem;
							}
						}
					}
					.contentText__mainText {
						font-size: 20px;
						line-height: 2rem;
					}
				}
				.content__boyBanner {
					margin-bottom: 48px;
				}
			}
		}
		.main__skillsContainer {
			.skillsContainer__skills {
				justify-content: center;
			}
		}
	}
}

@media (max-width: 450px) {
	.main {
		.main__generalInformationContainer {
			.generalInformationContainer__content {
				.generalInformationContainer__contentText {
					.contentText__headerText {
						margin-bottom: 32px;

						.headerText__text {
							margin-bottom: 12px;

							font-size: 24px;
							line-height: 1.75rem;
							.display-text-ExtraBold {
								font-size: 1.5rem;
								line-height: 1.75rem;
							}
							.outlined-text {
								font-size: 1.5rem;
								line-height: 1.75rem;
							}
						}
					}
					.contentText__mainText {
						font-size: 1rem;
						line-height: 1.25rem;
					}
				}
				.content__boyBanner {
					margin-bottom: 48px;
				}
			}
		}
		.main__skillsContainer {
			.display-text,
			.display-text-ExtraBold {
				font-size: 1.5rem;
				line-height: 1.75rem;
			}
			.skillsContainer__skills {
				.skills__item {
					width: 160px;
				}
			}
		}
		.main__experienceContainer {
			.display-text,
			.display-text-ExtraBold {
				font-size: 1.5rem;
				line-height: 1.75rem;
			}
			.heading-h4-SemiBold {
				font-size: 1.25rem;
				line-height: 1.5rem;
			}
		}
	}
}
