.main {
	width: 100%;

	padding: 104px 0;

	background-color: var(--color-white);

	.main__generalInformationContainer {
		padding: 60px 112px;

		.generalInformationContainer__content {
			display: flex;
			align-items: center;

			.generalInformationContainer__contentText {
				width: 41.66%;

				font-size: 16px;

				flex: 1;

				.contentText__headerText {
					margin-bottom: 32px;

					.headerText__text {
						margin-bottom: 20px;
					}
				}

				.contentText__mainText {
					margin-bottom: 32px;

					line-height: 26px;

					color: var(--color-500);
				}

				.contentText__contactsContainer {
					display: flex;
					gap: 32px;

					.contactsContainer__item {
						width: 56px;
						aspect-ratio: 1/1;

						display: flex;

						justify-content: center;
						align-items: center;

						background-color: var(--color-white);

						border: 2px solid;
						border-radius: 4px;

						transition: 0.3s ease;

						svg {
							width: 20px;
							aspect-ratio: 1/1;
						}

						&:hover {
							filter: invert(1);
						}
					}
				}
			}

			.content__boyBanner {
				display: flex;
				justify-content: center;
				align-items: center;
				flex: 1;
			}
		}
	}

	.main__skillsContainer {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		padding: 60px 112px;
		.skillsContainerTitle {
			display: flex;
			justify-content: center;

			padding: 20px 0;

			margin-bottom: 20px;
		}
		.skillsContainer__skills {
			max-width: 1216px;
			width: 100%;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			gap: 20px;

			padding: 40px 0;

			.skills__item {
				width: 186px;
				aspect-ratio: 1/1;

				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 32px;

				background-color: var(--color-white);

				border: 2px solid;
				border-radius: 4px;

				transition: 0.3s ease;

				svg {
					width: 56px;
				}

				&:hover,
				&:focus {
					filter: invert(1);
				}
			}
		}
	}

	.main__experienceContainer {
		width: 100%;
		padding: 60px 112px;

		display: flex;
		flex-direction: column;
		align-items: center;

		color: white;
		background-color: var(--color-black);

		.experienceContainerTitle {
			display: flex;
			justify-content: center;

			padding: 20px 0;

			margin-bottom: 20px;
		}
		.experienceContainer__experience {
			padding: 40px 24px;

			display: flex;
			flex-direction: column;
			gap: 32px;

			.experience__item {
				max-width: 1168px;
				width: 100%;
				padding: 30px 24px;

				border: 1px var(--color-500) solid;
				border-radius: 10px;
				.experienceItem__header {
					margin-bottom: 28px;

					display: flex;
					justify-content: space-between;
					flex-wrap: wrap;
					gap: 30px;
					.experienceItemHeader__logoTitle {
						display: flex;
						align-items: center;
						gap: 30px;
						img {
							width: 32px;
						}
					}
				}
				.experienceItemHeader__workTime,
				.experienceItem__mainInformation {
					color: var(--color-300);
				}
			}
		}
	}

	.main__aboutMeContainer {
		width: 100%;

		padding: 60px 112px;
		.aboutMeContainer__aboutMe {
			display: flex;
			justify-content: space-between;
			gap: 20px;

			svg,
			.aboutMe__informationContainer {
				flex: 1;
			}

			svg {
				width: 100%;
			}

			.aboutMe__informationContainer {
				.informationContainer__Title {
					display: flex;
					justify-content: flex-start;

					padding: 20px 0;

					margin-bottom: 20px;
				}
				.informationContainer__biography {
					color: var(--color-500);
					.biography__item {
						margin-bottom: 20px;
					}
					.biography__item:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	.main__projectsContainer {
		width: 100%;
		padding: 60px 112px;

		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 28px;

		color: white;

		background-color: var(--color-black);

		.projectsContainerTitle {
			display: flex;
			justify-content: center;

			padding: 20px 0;

			margin-bottom: 20px;
		}
		.projectsContainer__project {
			display: flex;
			align-items: center;
			gap: 40px;

			.project__image,
			.project__informationContainer {
				flex: 1;
			}

			.project__image {
				width: 100%;
				padding: 40px 64px 40px 0;

				img {
					max-width: 1200px;
					width: 100%;
					height: 398px;

					object-fit: cover;
					border-radius: 20px;
				}
			}

			.project__informationContainer {
				.informationContainer__numberProject {
					margin-bottom: 28px;
				}
				.informationContainer__description {
					.description__title {
						margin-bottom: 28px;
					}
					.description__item {
						color: var(--color-500);
					}
				}
			}

			&:nth-child(odd) {
				flex-direction: row-reverse;
			}
		}
	}
}

@media (max-width: 1400px) {
	.main {
		padding: 70px 0;

		.main__generalInformationContainer,
		.main__skillsContainer,
		.main__experienceContainer,
		.main__aboutMeContainer,
		.main__projectsContainer {
			padding: 40px 16px;
		}

		.main__generalInformationContainer {
			.generalInformationContainer__contentText {
				.contentText__headerText {
					.headerText__text {
						margin-bottom: 10px;

						font-size: 1.5rem;
						line-height: 1.75rem;
						.display-text-ExtraBold {
							font-size: 2rem;
							line-height: 2rem;
						}
						.outlined-text {
							font-size: 2rem;
							line-height: 2rem;
						}
					}
				}
			}
		}

		.main__experienceContainer {
			.experienceContainer__experience {
				padding: 0;
			}
		}
	}
}

@media (max-width: 1000px) {
	.main {
		.main__generalInformationContainer {
			.generalInformationContainer__content {
				.generalInformationContainer__contentText {
					.contentText__headerText {
						margin-bottom: 10px;

						.headerText__text {
							margin-bottom: 16px;

							font-size: 18px;
							line-height: 1.5rem;
							.display-text-ExtraBold {
								font-size: 1.5rem;
								line-height: 1.5rem;
							}
							.outlined-text {
								font-size: 1.5rem;
								line-height: 1.5rem;
							}
						}
					}
					.paragraph-p2 {
						line-height: 1.25rem;
						font-size: 0.75rem;
					}
					.contentText__contactsContainer {
						gap: 24px;
						.contactsContainer__item {
							width: 48px;
						}
					}
				}
			}
		}

		.main__skillsContainer {
			.skillsContainer__skills {
				padding: 0;
				.skills__item {
					width: 160px;
				}
			}
		}

		.main__aboutMeContainer {
			.aboutMeContainer__aboutMe {
				flex-direction: column;
				svg {
					width: 100%;
				}
			}
		}

		.main__projectsContainer {
			.projectsContainer__project {
				padding: 0 0 28px 0;

				flex-direction: column;

				border-bottom: 1px solid var(--color-500);
				.project__image {
					padding: 0;
				}
				&:nth-child(odd) {
					flex-direction: column;
				}
			}
		}
	}
}

@media (max-width: 800px) {
	.main {
		.main__generalInformationContainer {
			.generalInformationContainer__content {
				flex-direction: column-reverse;
				align-items: center;

				margin: 0;
				.generalInformationContainer__contentText {
					width: 100%;

					.contentText__headerText {
						.headerText__text {
							margin-bottom: 20px;

							font-size: 48px;
							line-height: 3rem;
							.display-text-ExtraBold {
								font-size: 3rem;
								line-height: 2.5rem;
							}
							.outlined-text {
								font-size: 3rem;
								line-height: 2.5rem;
							}
						}
					}
					.contentText__mainText {
						font-size: 20px;
						line-height: 2rem;
					}
				}
				.content__boyBanner {
					margin-bottom: 48px;
				}
			}
		}
		.main__skillsContainer {
			.skillsContainer__skills {
				justify-content: center;
			}
		}
	}
}

@media (max-width: 450px) {
	.main {
		.display-text,
		.display-text-ExtraBold {
			font-size: 1.5rem;
			line-height: 1.75rem;
		}

		.heading-h4-SemiBold,
		.heading-h2-Bold {
			font-size: 1.25rem;
			line-height: 1.5rem;
		}

		.main__generalInformationContainer {
			.generalInformationContainer__content {
				.generalInformationContainer__contentText {
					.contentText__headerText {
						margin-bottom: 32px;

						.headerText__text {
							margin-bottom: 12px;

							font-size: 24px;
							line-height: 1.75rem;
							.display-text-ExtraBold {
								font-size: 1.5rem;
								line-height: 1.75rem;
							}
							.outlined-text {
								font-size: 1.5rem;
								line-height: 1.75rem;
							}
						}
					}
					.contentText__mainText {
						font-size: 1rem;
						line-height: 1.25rem;
					}
				}
				.content__boyBanner {
					margin-bottom: 48px;
				}
			}
		}

		.main__skillsContainer {
			.skillsContainer__skills {
				.skills__item {
					width: 160px;
				}
			}
		}
	}
}
